@model Fiap03.Web.MVC.Models.MarcaModel

<div class="modal fade" id="modalEditarMarca">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Marca</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            @using (Html.BeginForm("Editar", "Marca"))
            {
                <div class="form-group">
                    @Html.LabelFor(c => c.Nome)
                    @Html.TextBoxFor(c => c.Nome, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(c => c.Cnpj)
                    @Html.TextBoxFor(c => c.Cnpj, new { placeholder = "Digite o CNPJ", @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(c => c.DataCriacao)
                    @Html.TextBoxFor(model => model.DataCriacao,
                    new { type = "date" })
                </div>
                <div class="modal-footer">
                    <button value="@Model.Id" type="submit" class="btn btn-warning" id="confEditar">Editar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            }
        </div>
    </div>
</div>