@model Fiap03.Web.MVC.ViewModel.UsuarioViewModel

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Crie uma conta</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(u => u.Login)
        @Html.TextBoxFor(u => u.Login, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.Senha)
        @Html.TextBoxFor(u => u.Senha, new { @class = "form-control" })
    </div>

    @Fabrica.Botao("Cadastrar")

}

